html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  background-color: #eeeeee;
  border: 4px solid #555353;
  border-radius: 5px;
  height: 600px;
  width: 600px;

  gap: 0px 0px;
  z-index: 1;
}

.grid-item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  border: 1px solid black;
}
